#nav{
	float: right;
}

#nav li{
	display: inline-block;
	margin: 10px;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

header{
	background-color: #2F4F4F;
	height: 70px;
	color: white;
}

a{
	color: white;
}

footer{
       clear: both;
       text-align: center;
       background-color:  #2F4F4F;
       color: white;
}